.wallet_btn_disconnect{
    border: 1px solid #E9E9E9 !important;
    cursor: pointer !important;
    display: flex !important;
    padding: 8px 5px !important;
    align-items: center !important;
    margin-right: 10px !important;
    border-radius: 12px !important;
    background-color: #F2F4F5 !important;
}